<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>
        <target name="file" xsi:type="File"
                layout="${longdate} | ${uppercase:${level}} | ${logger} | ${message}"
                fileName="${basedir}/logs/full_${cached:${date:format=yyyy-MM-dd}}.log"
                archiveFileName="${basedir}/logs/archive/{#}.log"
                archiveDateFormat="yyyy-MM-dd HH_mm_ss"
                archiveNumbering="DateAndSequence"
                archiveAboveSize="20000000"
                archiveEvery="Day"
                maxArchiveDays="7" />
    </targets>
    <targets>
        <target name="action" xsi:type="File"
                layout="${date} | ${uppercase:${level}} | ${message}"
                fileName="${basedir}/logs/action_${cached:${date:format=yyyy-MM-dd}}.log"
                archiveFileName="${basedir}/logs/archive/{#}.log"
                archiveDateFormat="yyyy-MM-dd HH_mm_ss"
                archiveNumbering="DateAndSequence"
                archiveAboveSize="20000000"
                archiveEvery="Day"
                maxArchiveDays="30" />
    </targets>
    <rules>
        <logger name="*" minlevel="Trace" writeTo="file" />
        <logger name="ActionLog" minlevel="Info" writeTo="action" />
    </rules>
</nlog>